.link
	font-size 15px
	color rgb(1, 0, 102)
	font-weight bold
	padding 3px

	&:hover
		text-shadow 1px -1px 0px #D5FFFF


	//&:hover:first-child
	//	background #00888F
	//
	//&:hover:nth-child(2)
	//	background #226FB0
	//
	//&:hover:nth-child(3)
	//	background-color rgba(42, 0, 143, 0.81)
