$Sevenet = Sevenet, sans-serif

@font-face
	font-family 'Sevenet'
	src local('Sevenet'),
		local('Sevenet-Regular'),
		url('../fonts/Chava-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal
