include /blocks/index/index

extends /blocks/layout-default/layout-default

block head
	- var pageTitle = 'Juicy Time — Декоративные часы из стекла';
	- var pageKeywords = 'Декоративные часы из стекла. Гравировка, фотопечать, фьюзинг. Недорого. Типовые и на заказ. Доставка по Белгороду и России, почтой или удобной вам транспортной компанией.';
	- var pageDescription = 'Часы настенные в Белгороде, декоративные часы из стекла, часы ручной работы, часы недорого, часы в подарок, подарок, часы без регистрации и смс, подарок, сувениры, изделия из стекла, вареные часы, часы с вашим рисунком, часы на заказ, часы с логотипом, часы на ваш выбор, часы индивидуально, часы белгород, купить часы';

block content
	+index()

	+b.hidden
		p Декоративные часы из стекла. Гравировка, фотопечать, фьюзинг. Недорого. Типовые и на заказ. Доставка по Белгороду и России, почтой или удобной вам транспортной компанией.

		p Часы настенные в Белгороде, декоративные часы из стекла, часы ручной работы, часы недорого, часы в подарок, подарок, часы без регистрации и смс, подарок, сувениры, изделия из стекла, вареные часы, часы с вашим рисунком, часы на заказ, часы с логотипом, часы на ваш выбор, часы индивидуально, часы белгород, купить часы
